/**
 * Basic typography style
 */
body {
	font-family: $font-family-sans-serif;
}
.fs-24 {
	font-size: $font-size-xl;
}
.fs-20 {
	font-size: $font-size-lg;
}
.fs-18 {
	font-size: $font-size-md;
}
.fs-16 {
	font-size: $font-size-base;
}
.fs-14 {
	font-size: $font-size-sm;
}
.fs-12 {
	font-size: $font-size-xs;
}
.fs-10 {
	font-size: 10px;
}
.max-text-20 {
	max-width: 20ch;
}

.max-text-24 {
	max-width: 24ch;
}
.max-text-28 {
	max-width: 28ch;
}

.max-text-32 {
	max-width: 32ch;
}
.max-text-36 {
	max-width: 36ch;
}

.max-text-40 {
	max-width: 40ch;
}
.max-text-44 {
	max-width: 44ch;
}
.max-text-48 {
	max-width: 48ch;
}

.max-text-52 {
	max-width: 52ch;
}
.max-text-56 {
	max-width: 56ch;
}

.max-text-60 {
	max-width: 60ch;
}
.max-text-64 {
	max-width: 64ch;
}
.max-text-68 {
	max-width: 68ch;
}

.max-text-72 {
	max-width: 72ch;
}
.max-text-76 {
	max-width: 76ch;
}

.max-text-80 {
	max-width: 80ch;
}

.tt-line-clamp {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;

	&.tt-clamp-1 {
		-webkit-line-clamp: 1;
	}

	&.tt-clamp-2 {
		-webkit-line-clamp: 2;
	}

	&.tt-clamp-3 {
		-webkit-line-clamp: 3;
	}
}
