.domain-list-section {
    margin-top: -120px;
}
.domain-list {
	--bs-border-opacity: 0.1;
    transition: $transition-base;
    &:hover {
        border-color: rgba($primary, .1) !important;
        background-color: rgba($primary, .05);
        .btn-outline-primary {
            background-color: $primary !important;
            color: $white;
        }
    }
	&__select {
		padding-right: 24px;
        padding-left: 4px;
		width: auto;
        background-color: transparent;
		background-position: right 5px center;
		padding-block: 4px;
		border: 0;
	}
}
