.feedback_10_wrapper {
    .swiper-slide {
        opacity: .3;
        transform: scale(.96);
        border-radius: 0.75rem;
        .feedback_10_item {
            border: 1px solid $gray-500;
        }
        &.swiper-slide-active {
            opacity: 1;
            transform: scale(1);
            .feedback_10_item {
                border: 0;
                // box-shadow: 0px 16px 80px 0px rgba(0, 0, 0, 0.13);
            }
        }
    }
}