.flush-subtitle {
	position: relative;
	isolation: isolate;
	&::before {
		content: "";
		position: absolute;
		top: 50%;
		right: calc(100% + 1rem);
		width: 1400px;
		height: 1px;
		background-color: $primary;
		transform: translateY(-50%);
	}
	&::after {
		content: "";
		position: absolute;
		top: 50%;
		left: calc(100% + 1rem);
		width: 1400px;
		height: 1px;
		background-color: $primary;
		transform: translateY(-50%);
	}
}
