.toggle-switch {
	padding: 0 !important;
	margin: 0 !important;
	input,
	.form-check-input {
		margin-left: 0;
		width: 36px;
		height: 18px;
		&:checked {
            border-color: transparent;
			box-shadow: none;
			background-color: #fc6866;
		}
        &:focus {
            box-shadow: none;
        }
	}
}
