.feedback-section {
	position: relative;
	isolation: isolate;
	&::after {
		content: "";
		position: absolute;
		inset-block: 0;
		inset-inline: 10%;
		background-color: rgba($primary, 0.05);
		border-radius: 1rem;
		pointer-events: none;
		z-index: -1;
	}
	&-1 {
		position: relative;
		isolation: isolate;
		&::before {
			content: "";
			position: absolute;
			inset: 0;
			z-index: -1;
			background-image: url(../img/shape/feedback-shape-line.png);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			pointer-events: none;
		}
	}
}
